HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Eclipse files
.metadata/
*.launch
*.log

# Maven files
target/
*.jar
*.war
*.ear
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.properties

# Compiled class files
*.class

